.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  width: 20%;
}

.sidebar h1 {
  color: #fff;
}

 #find {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.placelist {
  padding: 5px;
}

.list {
  padding: 5px;
  padding: 7px 0;
  cursor: pointer;
  text-align: left;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.7);
  color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
