.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  width: 30%;
}

.sidebar h1 {
  color: #fff;
}

 #find {
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

#placelist {
  padding: 5px;
}

.list {
  padding: 7px;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: left;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.7);
  color: #fff;
  list-style: none;
}

/*media query*/
@media screen and (max-width: 600px) {
  .sidebar h1 {
    font-size: 1rem;
  }
  #find, .list{
    font-size: .5rem;
  }
  #find {
    height: 0.8rem;
  }
}
